# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/build/
docs/build-cpp/
docs/reference/generated/
docs/intro/generated/
docs/reference/*/generated/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# cython intermediate files
dimod/roof_duality/_fix_variables.cpp
dimod/roof_duality/*.html
dimod/*.cpp
dimod/*.html
dimod/bqm/*.cpp
dimod/bqm/*.html
dimod/binary/*.cpp
dimod/binary/*.html
dimod/binary/cybqm/*.cpp
dimod/binary/cybqm/*.html
dimod/discrete/*.cpp
dimod/discrete/*.html
dimod/quadratic/cyqm/*.cpp
dimod/quadratic/cyqm/*.html
dimod/serialization/*.cpp
dimod/serialization/*.html
tests/*.cpp
tests/*.html

# benchmarking stuff
.asv/

# testing stuff
testscpp/test_main
testscpp/test_main.o
testscpp/test_main.out
testscpp/test_main_parallel
testscpp/test_main_parallel.o
testscpp/test_main_parallel.out

# C++ coverage stuff
testscpp/coverage.info
*.gcda
*.gcno
