language: python

matrix:
    include:
        - os: linux
          sudo: required
          python: "2.7"
          env: TOXENV=py27
        - os: linux
          sudo: required
          python: "3.6"
          env: TOXENV=py36
        - os: linux
          sudo: required
          python: "nightly"
          env: TOXENV=pynightly
        - os: osx
          language: generic
          env: TOXENV=py27
          before_install:
            - brew update
            - virtualenv env -p python2
            - source env/bin/activate
        - os: osx
          language: generic
          env: TOXENV=py36
          before_install:
            - brew update
            - brew install python3
            - virtualenv env -p python3
            - source env/bin/activate
        - os: osx
          language: generic
          env: TOXENV=pynightly

install:
    - pip install -r requirements.txt
    - pip install .
    
script:
- python -m unittest discover
- pip install numpy
- python -m unittest discover

deploy:
  provider: pypi
  user: dwtools
  password:
    secure: ty6zsd01EmSy08UdCTutboCbDOFhjeIos/8yp//k7S0YpuIULFVz00a0PqN3KacIshgNbZYs2XyW/yz0h4/GveGcGKDn9MUPb/Qt0OXOg1MDtKWskEd/Y7wXjpm0aKQ7TjzSrbvNGLd+9G1hw4GqBcXT5RAkpOD8av5JD3p5H+KSG6JAo9UMpGwoyZoyi7Y11bXhhCk9HBeE1v0HiqXpDLCDicnrkfz4/1dLRSOt3URS/1Tv2CCk0xzl9YqUGefJen65YBPNH2i/9MvW5xLiAZfhUY3k8ywOBgX1GAaClvSnwXlhUA7d33TOHs6YBNa5W61M4IaTo3d+OzIRial+iI3h5X+4NiLVW8jkDAke9lcu9+y8YhYV5SH6ROFXCf/V89x2LuENNzrnB1FxBMtnDBiaaeAwaR6rhJYFlvfsTETSLVzJAUrSJZbsNIlgPiwGbfevEIFO1cmUl6+6dBXdsrG/XMd16EHjdhbNem1AoaWX09d9kdjyxgiuVz6S7QsAzq71ZLDc8jN6kQSnXwp6tre4pLaSReneNzKSA7csCsno0DkGSNuj8BSlllomfD2yF2OBiSxENkrrFemAbj3yg8PV3vry3HC5katmj6jHY+0VfBKsxFJ3YnvnIGEe8C3Xp9/CMufvIXFrzcpg5vhhSFqAsQFldnts3U8PxR5EIUg=
  distributions: "sdist bdist_wheel"
  on:
    tags: true
