language: python

matrix:
    include:
        # - os: linux
        #   sudo: required
        #   python: "nightly"
        #   env: TOXENV=pynightly
        - os: linux
          sudo: required
          python: "3.6"
          env: TOXENV=py36
          deploy:
        - os: linux
          sudo: required
          python: "3.5"
          env: TOXENV=py35
          deploy:
        - os: linux
          sudo: required
          python: "3.4"
          env: TOXENV=py34
          deploy:
        - os: linux
          sudo: required
          python: "2.7"
          env: TOXENV=py27
          deploy:
        - os: osx
          language: generic
          env: TOXENV=py36
          before_install:
            - brew update
            - brew upgrade python
            - pip install virtualenv
            - virtualenv env -p python
            - source env/bin/activate
          deploy:
        - os: osx
          language: generic
          env: TOXENV=py27
          before_install:
            - brew update
            - virtualenv env -p python2
            - source env/bin/activate
          deploy:
        - os: linux
          sudo: required
          python: "3.6"
          env: TOXENV=py36
          install:
              - pip install -r requirements.txt
              - pip install .

install:
    - pip install -r requirements_test.txt
    - pip install .
    
script:
- coverage run -m unittest discover

after_success:
  - coveralls

deploy:
  provider: pypi
  user: "dwtools"
  password:
    secure: "v06lz4ol83D42GyinehUM8E7TRWi1lbQWRklcUwY3PCweWSONyFxQ8aD0+PkkKb2rIXaKbJ1V1kqREAbKmeqtv5smys3kDYY5XRSQzYsEBxFsYTc/hIHFt06MWstnipkT87I+spdtUs1PEIAtpIWaI/p4uQ6BnrBTK9Ht2QzJ7aC64LQziCSZCHmjDGnMmzb1zDISmZb+yne4676hNKrG1nVND79Mg5+fNE+A4HjeyUoAL4TDu8L5wtX/l/PQzkwwUFw9Og/TYD7TVUQ/2HklUcXq2Vd3/RWW7IrlahTpU3TFI9WW1oFpz+GndaZ65EfTNtYr9gsztsRX6LNVs04+LsSpS4FKcx9oyAxgzDGs0Oc7MLzWgiNawuhwoXnZxLvzGA5Z3jf1aeuf6eOK4a5UwW1QuG38n9/3fy6il3BxwnGTQQYPNye1yXveXxzn1BdkZtIqcJkxkWReTaVKyLBzpJemKao/iQDNLbLXfvORlRaKPEEU4y1Y/wuyQPmJqDaPWUHyoz1u5EUzCXfbmzkHHc4Dq0cKbHaOHg5OLWKgo747xk2RM2HFnXvENkcBn+yazeMwK1y3QwJTAlDPSYgv7w5kdxvaIBauz+UPZUsA7Ay+e8lPdeWmZHG0z9VKOlRygcIjvVedbAeDYygddlimagsFsmw3I/tRw9/IIxTJg4="
  distributions: "sdist bdist_wheel"
  on:
    tags: true
